/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b2441;
  --ifm-color-primary-dark: #18203b;
  --ifm-color-primary-darker: #171f37;
  --ifm-color-primary-darkest: #13192e;
  --ifm-color-primary-light: #1e2848;
  --ifm-color-primary-lighter: #1f294b;
  --ifm-color-primary-lightest: #232f55;
  --ifm-font-size-base: 18px;
  --ifm-font-family-base: "Hanken Grotesk", sans-serif;
  --ifm-heading-font-family: "Dosis", sans-serif;

  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #1b2441;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.navbar {
  display: block;
  text-align: center;
  min-height: 5.5rem;
  border-bottom: 1px solid #1b2441;
  background-image: url('/img/logo.png');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center 0.5rem;
  background-size: 19rem;
  padding-top: 3.25rem;

  @media (max-width: 19rem) {
    background-size: 100vw;
  }
  h3 {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.markdown, .error-page {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #1b2441;
  }
  p, li, td, th, blockquote, a, span, div {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #1b2441;
  }
  a {
    color: #35529C;
    &:hover {
      text-decoration: none;
      border-bottom: 2px solid #35529C;
    }
  }
}

.error-page {
  padding: 2rem 0.5rem;
}

.theme-doc-sidebar-container {
  margin-top: 0 !important;
}

.theme-doc-sidebar-container > div:first-child {
  border-right: 1px solid #1b2441;
}

.theme-doc-sidebar-container > div:first-child > div:first-child {
  padding-top: 2rem;
}

.navbar__toggle {
  position: absolute;
  /*z-index: 9999;*/
  top: 3.4rem;
  left: 0.5rem;
}
